<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/css/estrutura.css">
    <title>Homepage</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <ul>
                <li><a href="http://localhost/CrudMVC/">Home</a></li>
                <li><a href="http://localhost/CrudMVC/?pagina=sobre">Sobre</a></li>
            </ul>
        </header>
        <main>
            {{area_dinamica}}
        </main>
    </div>
</body>
</html>