<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost/CrudMVC/asset/css/estrutura.css">
    {{style_dinamico}}
    <title>Homepage</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <ul>
                <li><a href="http://localhost/CrudMVC/">Home</a></li>
                <li><a href="http://localhost/CrudMVC/sobre">Sobre</a></li>
                <li><a href="http://localhost/CrudMVC/admin">Admin</a></li>
            </ul>
        </header>
        <main>
            {{area_dinamica}}
        </main>
    </div>
</body>
</html>