<section>
    <h1>Postagens:</h1>
    <article>
        <h2><a href="#">Título</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus voluptatibus rem beatae ab impedit voluptate ut quasi iure ex commodi?</p>
    </article>
    <article>
        <h2><a href="#">Título</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus voluptatibus rem beatae ab impedit voluptate ut quasi iure ex commodi?</p>
    </article>
    <article>
        <h2><a href="#">Título</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus voluptatibus rem beatae ab impedit voluptate ut quasi iure ex commodi?</p>
    </article>
</section>